.customWidth {
  @apply px-10;
  width: calc(100vw - 15px);
  margin-top: 35px;
  margin-bottom: 30px;
}

.cardContainer {
  @apply gap-2 grid grid-cols-4;
}

.h2 {
  @apply text-3xl font-bold mb-4 mx-auto;
}

@media (max-width: 990px) {
  .cardContainer {
    @apply grid-cols-2;
  }

  .customWidth {
    @apply px-4;
  }

  .h2 {
    @apply text-2xl;
  }
}

@media (max-width: 600px) {
  .customWidth {
    @apply w-screen;
  }
}
