.heroSection {
  display: none;
  width: calc(100vw - 15px);
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .heroSection {
    display: flex;
  }
}

@media (max-width: 500px) {
  .heroSection {
    @apply w-screen;
  }
}
